* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

html, body, main {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1abc9c;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
}

.app {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* General sytles for component */

.btn {
  padding: .5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

header {
  padding: 1rem 0;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Styles for the pomodoro App */
.pomo-container {
  flex-grow: 1;
  display: flex;
}
.pomodoro {
  width: 100%;
  padding: 2rem;
  background-color: #16a085;
  border: 2px dashed white;
  border-radius: 1rem;
  align-self: center;
}

.pomodoro .pomodoro__header {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro .pomodoro__header p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.pomodoro .pomodoro__timer {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro .pomodoro__timer p.time {
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
}

.pomodoro__footer {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro__footer button.btn {
  background-color: white;
  color: #222222;
  border: none;
  border-radius: 4px;
}

.pomodoro__footer #stop-button {
  display: none;
}

footer {
  padding: 2rem 0;
  background-color: #16a085;
}

footer .links p, footer .links a {
  color: white;
}

footer .links p {
  margin: 0;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 80px;
  }
  header .container > div {
    padding: 0 80px;
  }
  footer .links {
    padding: 0 80px;
  }
  .pomodoro .pomodoro__header p#pomodoro-title {
    font-size: 2rem;
  }
  .pomodoro .pomodoro__timer p.time {
    font-size: 8rem;
  }
}