* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
}

.app {
  padding: 1rem;
  height: 100%;
}

/* General sytles for component */

.btn {
  padding: .5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Styles for the pomodoro App */
.pomodoro {
  padding-top: 1rem;
}

.pomodoro .pomodoro__header {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro .pomodoro__header p {
  text-align: center;
  font-size: 1.2rem;
}

.pomodoro .pomodoro__timer {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro .pomodoro__timer p.time {
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
}

.pomodoro__footer {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

footer {
  padding: 2rem 0;
  background-color: blanchedalmond;
}

footer .links p, footer .links a {
  color: #020202;
}

footer .links p {
  margin: 0;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 80px;
  }
  .pomodoro .pomodoro__header p {
    font-size: 2rem;
  }
  .pomodoro .pomodoro__timer p.time {
    font-size: 8rem;
  }
}