* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.app {
  padding: 1rem;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.pomodoro {
  padding-top: 1rem;
}

.pomodoro .pomodoro__header {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro .pomodoro__header p {
  text-align: center;
  font-size: 1.2rem;
}

.pomodoro .pomodoro__timer {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pomodoro .pomodoro__timer p.time {
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 80px;
  }
  .pomodoro .pomodoro__header p {
    font-size: 2rem;
  }
  .pomodoro .pomodoro__timer p.time {
    font-size: 8rem;
  }
}